@charset "UTF-8";
/* Colores */
/* Letras */
.header__nav {
  background-color: #F9F1EA;
  justify-content: space-between; }

.header__lista {
  padding: 0 16px;
  font-size: 18px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; }

.header__menu {
  padding: 20px;
  display: inline; }
  .header__menu a:active {
    color: black;
    text-decoration: none; }

.container-fluid {
  justify-content: flex-end; }

/* EXTEND */
.background-centrado {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.flex, .labios__grid, .ojos__grid, .rostro__grid, .pomulos__grid {
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }

.titulos, .filosofia__titulo, .productos__titulo, .productos__titulo--P, .preguntas__titulo, .contacto__titulo {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  text-align: center;
  margin-top: 20px; }

.border {
  border: 1px solid black;
  border-radius: 5px; }

.gap, .labios__grid, .ojos__grid, .rostro__grid, .pomulos__grid {
  row-gap: 20px;
  column-gap: 20px;
  padding: 10px; }

/* MIXIN */
.footer__pie {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  background-image: linear-gradient(to top, #fdf6f1, #F5E7DA); }
  .footer__pie--redes {
    display: block;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-items: center;
    list-style: none;
    margin-left: 30px;
    margin-top: 5px; }

.derechos {
  font-size: small;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-left: 1em; }

p {
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 0; }

.redes {
  width: 1.6em;
  margin: 0.5em; }

.h6 {
  font-family: 'Roboto', sans-serif;
  font-size: small; }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #F5E7DA;
  font-family: "Roboto", sans-serif; }

/* Encabezado */
.header__titulo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: calc(1.5em + 1.5vw);
  padding: 20px 0 5px 0;
  text-align: center;
  background-image: linear-gradient(to top, #F5E7DA, #fdf6f1);
  color: black;
  text-decoration: none; }

.header__subtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: calc(0.6em + 0.6vw);
  padding: 2px 16px;
  text-align: center;
  display: block;
  color: #000;
  text-decoration: none; }

.header__acciones {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 25px 5px 0; }

.header__nav {
  display: flex; }

.header__menu {
  color: #000;
  font-weight: bolder; }

.header__menu:hover {
  transform: scale(1.15, 1.15);
  transition: all 0.5s; }

.icono {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1.4em;
  margin: 10px; }

.container-fluid {
  display: flex;
  justify-content: flex-end; }

.navbar-toggler {
  justify-content: flex-end; }

.linea {
  border-top: 1px;
  border-bottom: 1px;
  min-height: 1px;
  padding: 0;
  margin: 0 auto 0 auto;
  background: gray;
  background-image: linear-gradient(to right, #ccc, #000, #ccc); }

/* Contenido de la página */
.principal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px; }
  .principal__portada {
    width: 80%;
    border: 1px solid black;
    border-radius: 5px; }

.filosofia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  .filosofia__titulo {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: calc(1em + 1vw); }

.imagen {
  border: 1px solid black;
  border-radius: 5px; }

.texto-piel {
  margin-top: 30px;
  justify-content: center;
  text-align: justify; }

p {
  text-align: justify;
  align-items: center;
  padding: 0 5px 0 5px; }

.productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  .productos__titulo {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: calc(1em + 1vw); }
    .productos__titulo--P {
      font-style: italic; }
    .productos__titulo--items {
      font-family: "Roboto", sans-serif;
      text-align: center;
      margin-top: 10px; }

.btn:hover {
  color: #868686;
  border-radius: 5px;
  background-color: whitesmoke; }

.labios__grid {
  display: grid;
  width: 60rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "rosa-mate rojo-mate marron-mate" "rosa-cremoso rojo-cremoso nude-cremoso" "coral-pomo rojo-pomo violeta-pomo"; }

.ojos__grid {
  display: grid;
  width: 60rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "beige oliva rosa-viejo" "marron celeste-gris rosa" "bordeaux pinceles violeta"; }

.rostro__grid {
  display: grid;
  width: 60rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "tono-claro tono-medio tono-oscuro" "una-brocha crema-rostro dos-brochas"; }

.pomulos__grid {
  display: grid;
  width: 60rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "rubor-naranja rubor-beige rubor-fucsia" "pomulos-coral pomulos-beige pomulos-rosa"; }

.preguntas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  .preguntas__titulo {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: calc(1em + 1vw); }
    .preguntas__titulo--Pf {
      font-family: "Montserrat", sans-serif;
      font-size: 27px;
      font-style: italic; }
  .preguntas__frecuentes {
    display: flex;
    flex-wrap: wrap;
    margin: 30px; }
    .preguntas__frecuentes--1 {
      text-align: center;
      margin-bottom: 16px; }
    .preguntas__frecuentes--2 {
      text-align: center;
      margin-bottom: 16px; }
    .preguntas__frecuentes--3 {
      text-align: center;
      margin-bottom: 16px; }

.contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center; }
  .contacto__titulo {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: calc(1em + 1vw); }
    .contacto__titulo--C {
      font-family: "Montserrat", sans-serif;
      font-size: 27px;
      font-style: italic; }
    .contacto__titulo__img {
      display: flex;
      justify-content: center;
      width: 200px;
      background-size: contain;
      margin: 40px;
      padding: 1px;
      border: 1px solid black;
      border-radius: 5px; }

.texto {
  margin: 1em;
  display: flex;
  justify-content: center; }
  .texto__texto {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center; }

.lista {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #454444;
  border-radius: 5px;
  margin-bottom: 40px; }

.img__fluid {
  height: auto; }

.form-label {
  padding-top: 10px; }

.boton-formulario {
  background-color: #fffaf7; }

.form-control {
  background-color: white; }

/* MediaQuery de Celular */
@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: auto; }
    header__icono {
      width: 14px; }
    header__nav {
      flex-direction: column;
      justify-content: center; }
    header__lista {
      flex-direction: column;
      font-size: 14px;
      padding: 5px; }
  .principal__portada {
    width: 100%; }
  .labios__grid {
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "rosa-mate"  "rojo-mate"  "marron-mate" "rosa-cremoso"  "rojo-cremoso"  "nude-cremoso" "coral-pomo"  "rojo-pomo"  "violeta-pomo"; }
  .ojos__grid {
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "beige"  "rosa-viejo"  "oliva" "marron"  "celeste-gris"  "rosa" "bordeaux"  "pinceles"  "violeta"; }
  .rostro__grid {
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "tono-claro"  "tono-medio"  "tono-oscuro" "una-brocha"  "crema-rostro"  "dos-brochas"; }
  .pomulos__grid {
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "rubor-naranja" "rubor-beige" "rubor-fucsia" "pomulos-coral" "pomulos-beige" "pomulos-rosa"; }
  .lista {
    width: 80vw; } }

/* MediaQuery de Tablet */
@media (min-width: 576px) and (max-width: 992px) {
  header {
    height: auto; }
    header__icono {
      width: 14px; }
    header__nav {
      flex-direction: row;
      justify-content: center; }
    header__lista {
      flex-direction: row;
      justify-content: center;
      font-size: 14px;
      padding: 5px; }
  .principal__portada {
    width: 100%; }
  .filosofia__titulo {
    font-size: 18px; }
  .productos__titulo--P {
    font-size: 18px; }
  .labios__grid {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "rosa-mate rojo-mate marron-mate" "rosa-cremoso rojo-cremoso nude-cremoso" "coral-pomo rojo-pomo violeta-pomo"; }
  .ojos__grid {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "beige rosa-viejo oliva" "marron celeste-gris rosa" "bordeaux pinceles violeta"; }
  .rostro__grid {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "tono-claro tono-medio tono-oscuro" "una-brocha crema-rostro dos-brochas"; }
  .pomulos__grid {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "rubor-naranja rubor-beige rubor-fucsia" "pomulos-coral pomulos-beige pomulos-rosa"; }
  .preguntas__titulo--Pf {
    font-size: 18px; }
  .contacto__titulo--C {
    font-size: 18px; }
  .lista {
    width: 70vw; } }
