@charset "UTF-8";
/* Colores */
/* Letras */
.header__nav {
  background-color: #F9F1EA;
  justify-content: space-between; }

.header__lista {
  padding: 0 16px;
  font-size: 18px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap; }

.header__menu {
  padding: 20px;
  display: inline; }
  .header__menu a:active {
    color: black;
    text-decoration: none; }

/* EXTEND */
.background-centrado, .ojos__grid .beige, .ojos__grid .rosa-viejo, .ojos__grid .oliva, .ojos__grid .marron, .ojos__grid .celeste-gris, .ojos__grid .rosa, .ojos__grid .bordeaux, .ojos__grid .pinceles, .ojos__grid .violeta, .labios__grid .rosa-mate, .labios__grid .rojo-mate, .labios__grid .marron-mate, .labios__grid .rosa-cremoso, .labios__grid .rojo-cremoso, .labios__grid .nude-cremoso, .labios__grid .coral-pomo, .labios__grid .rojo-pomo, .labios__grid .violeta-pomo, .rostro__grid .tono-claro, .rostro__grid .tono-medio, .rostro__grid .tono-oscuro, .rostro__grid .una-brocha, .rostro__grid .crema-rostro, .rostro__grid .dos-brochas, .pomulos__grid .rubor-naranja, .pomulos__grid .rubor-beige, .pomulos__grid .rubor-fucsia, .pomulos__grid .pomulos-coral, .pomulos__grid .pomulos-beige, .pomulos__grid .pomulos-rosa {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.flex, .ojos__grid, .labios__grid, .rostro__grid, .pomulos__grid {
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; }

.titulos, .filosofia__titulo--F, .productos__titulo--P {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  text-align: center;
  padding: 30px; }

.border, .ojos__grid .beige, .ojos__grid .rosa-viejo, .ojos__grid .oliva, .ojos__grid .marron, .ojos__grid .celeste-gris, .ojos__grid .rosa, .ojos__grid .bordeaux, .ojos__grid .pinceles, .ojos__grid .violeta, .labios__grid .rosa-mate, .labios__grid .rojo-mate, .labios__grid .marron-mate, .labios__grid .rosa-cremoso, .labios__grid .rojo-cremoso, .labios__grid .nude-cremoso, .labios__grid .coral-pomo, .labios__grid .rojo-pomo, .labios__grid .violeta-pomo, .rostro__grid .tono-claro, .rostro__grid .tono-medio, .rostro__grid .tono-oscuro, .rostro__grid .una-brocha, .rostro__grid .crema-rostro, .rostro__grid .dos-brochas, .pomulos__grid .rubor-naranja, .pomulos__grid .rubor-beige, .pomulos__grid .rubor-fucsia, .pomulos__grid .pomulos-coral, .pomulos__grid .pomulos-beige, .pomulos__grid .pomulos-rosa {
  border: 1px solid black;
  border-radius: 5px; }

.gap, .ojos__grid, .labios__grid, .rostro__grid, .pomulos__grid {
  row-gap: 10px;
  column-gap: 10px;
  padding: 30px; }

/* MIXIN */
/* Colores */
/* Letras */
.footer__pie {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between; }
  .footer__pie--redes {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
    justify-content: center;
    padding: 5px;
    margin-right: 16px;
    margin-bottom: 20px; }

.h6 {
  font-family: 'Roboto', sans-serif;
  font-size: small; }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: #F5E7DA;
  font-family: "Roboto", sans-serif; }

/* Encabezado */
.header__titulo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  padding: 0 16px;
  text-align: center;
  background-image: linear-gradient(to top, #F5E7DA, white);
  color: #000;
  text-decoration: none; }

.header__subtitulo {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  padding: 2px 16px;
  text-align: center;
  display: block; }

.header__acciones {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 16px; }

.header__icono {
  padding: 0 16px 16px 0;
  display: block;
  align-items: center;
  flex-wrap: wrap; }

hr {
  border: 0;
  height: 1px;
  background: #000;
  background-image: linear-gradient(to right, #ccc, #000, #ccc); }

/* Contenido de la página */
.principal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px; }
  .principal__portada {
    width: 800px;
    height: 600px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 5px; }

.filosofia {
  display: flex; }
  .filosofia__img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .filosofia__img--mineral {
      width: 800px;
      height: 500px;
      padding: 1px;
      border: 1px solid black;
      border-radius: 5px; }

p {
  text-align: justify;
  padding: 0 16px;
  margin: 30px; }

.productos__titulo--items {
  font-family: "Roboto", sans-serif;
  text-align: center; }

.ojos__grid {
  display: grid;
  width: 800px;
  height: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "beige rosa-viejo oliva" "marron celeste-gris rosa" "bordeaux pinceles violeta"; }
  .ojos__grid .beige {
    grid-area: beige;
    background-image: url("../resources/ojos/beige.jpg"); }
  .ojos__grid .rosa-viejo {
    grid-area: rosa-viejo;
    background-image: url("../resources/ojos/rosa-viejo.jpg"); }
  .ojos__grid .oliva {
    grid-area: oliva;
    background-image: url("../resources/ojos/oliva.jpg"); }
  .ojos__grid .marron {
    grid-area: marron;
    background-image: url("../resources/ojos/marron.jpg"); }
  .ojos__grid .celeste-gris {
    grid-area: celeste-gris;
    background-image: url("../resources/ojos/celeste-gris.jpg"); }
  .ojos__grid .rosa {
    grid-area: rosa;
    background-image: url("../resources/ojos/rosa.jpg"); }
  .ojos__grid .bordeaux {
    grid-area: bordeaux;
    background-image: url("../resources/ojos/bordeaux.jpg"); }
  .ojos__grid .pinceles {
    grid-area: pinceles;
    background-image: url("../resources/ojos/pinceles.png"); }
  .ojos__grid .violeta {
    grid-area: violeta;
    background-image: url("../resources/ojos/violeta.jpg"); }

.btn:hover {
  color: #454444;
  font-size: small;
  width: 65px;
  height: 25px;
  border-radius: 5px;
  background-color: whitesmoke; }

.labios__grid {
  display: grid;
  width: 800px;
  height: 800px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "rosa-mate rojo-mate marron-mate" "rosa-cremoso rojo-cremoso nude-cremoso" "coral-pomo rojo-pomo violeta-pomo"; }
  .labios__grid .rosa-mate {
    grid-area: rosa-mate;
    background-image: url("../resources/labios/rosa-mate.png"); }
  .labios__grid .rojo-mate {
    grid-area: rojo-mate;
    background-image: url("../resources/labios/rojo-mate.png"); }
  .labios__grid .marron-mate {
    grid-area: marron-mate;
    background-image: url("../resources/labios/marron-mate.png"); }
  .labios__grid .rosa-cremoso {
    grid-area: rosa-cremoso;
    background-image: url("../resources/labios/rosa-cremoso.png"); }
  .labios__grid .rojo-cremoso {
    grid-area: rojo-cremoso;
    background-image: url("../resources/labios/rojo-cremoso.png"); }
  .labios__grid .nude-cremoso {
    grid-area: nude-cremoso;
    background-image: url("../resources/labios/nude-cremoso.png"); }
  .labios__grid .coral-pomo {
    grid-area: coral-pomo;
    background-image: url("../resources/labios/coral-pomo.png"); }
  .labios__grid .rojo-pomo {
    grid-area: rojo-pomo;
    background-image: url("../resources/labios/rojo-pomo.png"); }
  .labios__grid .violeta-pomo {
    grid-area: violeta-pomo;
    background-image: url("../resources/labios/violeta-pomo.png"); }

.rostro__grid {
  display: grid;
  width: 800px;
  height: 542px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "tono-claro tono-medio tono-oscuro" "una-brocha crema-rostro dos-brochas";
  margin-top: 30px;
  margin-bottom: 30px; }
  .rostro__grid .tono-claro {
    grid-area: tono-claro;
    background-image: url("../resources/rostro/claro.png"); }
  .rostro__grid .tono-medio {
    grid-area: tono-medio;
    background-image: url("../resources/rostro/medio.png"); }
  .rostro__grid .tono-oscuro {
    grid-area: tono-oscuro;
    background-image: url("../resources/rostro/oscuro.png"); }
  .rostro__grid .una-brocha {
    grid-area: una-brocha;
    background-image: url("../resources/rostro/brocha-uno.png"); }
  .rostro__grid .crema-rostro {
    grid-area: crema-rostro;
    background-image: url("../resources/rostro/crema.png"); }
  .rostro__grid .dos-brochas {
    grid-area: dos-brochas;
    background-image: url("../resources/rostro/brocha-dos.png"); }

.pomulos__grid {
  display: grid;
  width: 800px;
  height: 542px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "rubor-naranja rubor-beige rubor-fucsia" "pomulos-coral pomulos-beige pomulos-rosa";
  margin-top: 30px; }
  .pomulos__grid .rubor-naranja {
    grid-area: rubor-naranja;
    background-image: url("../resources/pomulos/naranja.png"); }
  .pomulos__grid .rubor-beige {
    grid-area: rubor-beige;
    background-image: url("../resources/pomulos/beige.png"); }
  .pomulos__grid .rubor-fucsia {
    grid-area: rubor-fucsia;
    background-image: url("../resources/pomulos/fucsia.png"); }
  .pomulos__grid .pomulos-coral {
    grid-area: pomulos-coral;
    background-image: url("../resources/pomulos/coral-pomo.png"); }
  .pomulos__grid .pomulos-beige {
    grid-area: pomulos-beige;
    background-image: url("../resources/pomulos/beige-pomo.png"); }
  .pomulos__grid .pomulos-rosa {
    grid-area: pomulos-rosa;
    background-image: url("../resources/pomulos/rosa-pomo.png"); }

.preguntas__titulo {
  display: flex;
  justify-content: center;
  padding: 30px; }
  .preguntas__titulo--Pf {
    font-family: "Montserrat", sans-serif;
    font-size: 27px; }

.preguntas__frecuentes {
  padding: 0px 16px;
  margin: 30px;
  flex-wrap: wrap; }
  .preguntas__frecuentes--1 {
    text-align: left; }
  .preguntas__frecuentes--2 {
    text-align: left; }
  .preguntas__frecuentes--3 {
    text-align: left; }

.contacto__titulo {
  display: flex;
  justify-content: center;
  padding: 30px; }
  .contacto__titulo--C {
    font-family: "Montserrat", sans-serif;
    font-size: 27px; }

.lista {
  margin: 16px auto 40px auto;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1em;
  border: 1px solid #454444;
  border-radius: 5px; }
  .lista__acciones {
    padding: 0 16px 10px 20px; }

/* MediaQuery de Celular */
@media (min-width: 320px) and (max-width: 575px) {
  .header {
    height: auto; }
    .header__titulo {
      font-size: 55px; }
    .header__subtitulo {
      font-size: 19px; }
    .header__icono {
      width: 14px; }
    .header__nav {
      flex-direction: column;
      justify-content: center; }
    .header__lista {
      flex-direction: column;
      font-size: 14px;
      padding: 5px; }
  .principal__portada {
    width: 300px;
    height: 200px; }
  .filosofia__titulo--F {
    font-size: 20px; }
  .filosofia__img--mineral {
    width: 80vw;
    height: 200px; }
  p {
    font-size: small; }
  .productos__titulo--P {
    font-size: 20px; }
  .ojos__grid {
    width: 70vw;
    height: 350vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "beige"  "rosa-viejo"  "oliva" "marron"  "celeste-gris"  "rosa" "bordeaux"  "pinceles"  "violeta"; }
  .boton {
    font-size: 10px;
    width: 47px;
    height: 20px; }
  .labios__grid {
    width: 70vw;
    height: 350vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: "rosa-mate"  "rojo-mate"  "marron-mate" "rosa-cremoso"  "rojo-cremoso"  "nude-cremoso" "coral-pomo"  "rojo-pomo"  "violeta-pomo"; }
  .rostro__grid {
    width: 70vw;
    height: 230vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "tono-claro"  "tono-medio"  "tono-oscuro" "una-brocha"  "crema-rostro"  "dos-brochas"; }
  .pomulos__grid {
    width: 70vw;
    height: 230vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "rubor-naranja" "rubor-beige" "rubor-fucsia" "pomulos-coral" "pomulos-beige" "pomulos-rosa"; }
  .preguntas__titulo--Pf {
    font-size: 20px; }
  .preguntas__frecuentes--1 {
    font-size: small; }
  .preguntas__frecuentes--2 {
    font-size: small; }
  .preguntas__frecuentes--3 {
    font-size: small; }
  .contacto__titulo--C {
    font-size: 20px; }
  .lista {
    width: 80vw; }
  .footer__pie--icono {
    width: 14px; } }

/* MediaQuery de Tablet */
@media (min-width: 576px) and (max-width: 992px) {
  .header {
    height: auto; }
    .header__titulo {
      font-size: 52px; }
    .header__subtitulo {
      font-size: 17px; }
    .header__icono {
      width: 14px; }
    .header__nav {
      flex-direction: row;
      justify-content: center; }
    .header__lista {
      flex-direction: row;
      justify-content: center;
      font-size: 14px;
      padding: 5px; }
  .principal__portada {
    width: 550px;
    height: 350px; }
  .filosofia__titulo--F {
    font-size: 18px; }
  .filosofia__img--mineral {
    width: 90vw;
    height: 300px; }
  p {
    font-size: small; }
  .productos__titulo--P {
    font-size: 18px; }
  .ojos__grid {
    width: 500px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "beige rosa-viejo oliva" "marron celeste-gris rosa" "bordeaux pinceles violeta"; }
  .boton {
    font-size: 8px;
    width: 40px;
    height: 18px; }
  .labios__grid {
    width: 500px;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "rosa-mate rojo-mate marron-mate" "rosa-cremoso rojo-cremoso nude-cremoso" "coral-pomo rojo-pomo violeta-pomo"; }
  .rostro__grid {
    width: 500px;
    height: 340px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "tono-claro tono-medio tono-oscuro" "una-brocha crema-rostro dos-brochas"; }
  .pomulos__grid {
    width: 500px;
    height: 340px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "rubor-naranja rubor-beige rubor-fucsia" "pomulos-coral pomulos-beige pomulos-rosa"; }
  .preguntas__titulo--Pf {
    font-size: 18px; }
  .preguntas__frecuentes--1 {
    font-size: small; }
  .preguntas__frecuentes--2 {
    font-size: small; }
  .preguntas__frecuentes--3 {
    font-size: small; }
  .contacto__titulo--C {
    font-size: 18px; }
  .lista {
    width: 70vw; }
  .footer__pie--icono {
    width: 14px; } }
