.footer__pie {
    display: flex;
    align-self: center;
    align-content: center;
    justify-content: space-between;

    &--redes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: center;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
}

.derechos {
    font-size: small;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-left: 2em;
}

p {
    justify-content: center;
    text-align: center;
    align-content: flex-end;
    align-items: center;
}

.redes {
    width: 1.5em;

}

.h6 {
    font-family: 'Roboto', sans-serif;
    font-size: small;
}