.footer__pie {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;

    &--redes {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: center;
        padding: 5px;
        margin-right: 16px;
        margin-bottom: 20px;
    }
}

.h6 {
    font-family: 'Roboto', sans-serif;
    
    font-size: small;
}