
/* MediaQuery de Celular */
@media (min-width: 320px) and (max-width: 575px) {
    header {
    height: auto;
    
    &__icono {
        width: 14px;
        }
    
    &__nav {
        flex-direction: column;
        justify-content: center;
        }
    
        &__lista {
        flex-direction: column;
        font-size: 14px;
        padding: 5px;
        }
    }

    .principal__portada {
    width:100%;
}

    .labios__grid {
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:"rosa-mate" 
                        "rojo-mate" 
                        "marron-mate"
                        "rosa-cremoso" 
                        "rojo-cremoso" 
                        "nude-cremoso"
                        "coral-pomo" 
                        "rojo-pomo" 
                        "violeta-pomo";
    }

    .ojos__grid {
        width: 80vw;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:"beige" 
                            "rosa-viejo" 
                            "oliva"
                            "marron" 
                            "celeste-gris" 
                            "rosa"
                            "bordeaux" 
                            "pinceles" 
                            "violeta";
        }

    .rostro__grid {
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:"tono-claro" 
                        "tono-medio" 
                        "tono-oscuro"
                        "una-brocha" 
                        "crema-rostro" 
                        "dos-brochas";
    }

    .pomulos__grid {
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:"rubor-naranja" 
                        "rubor-beige" 
                        "rubor-fucsia"
                        "pomulos-coral" 
                        "pomulos-beige" 
                        "pomulos-rosa";
    }

    .lista {
    width: 80vw;
    }
}


/* MediaQuery de Tablet */
@media (min-width: 576px) and (max-width: 992px) {
    header {
    height: auto;

    &__icono {
        width: 14px;
    }

    &__nav {
        flex-direction: row;
        justify-content: center;
    }

    &__lista {
        flex-direction: row;
        justify-content: center;
        font-size: 14px;
        padding: 5px;
    }
}

    .principal {
        &__portada {
            width: 100%;
        }
    }

    .filosofia {
        &__titulo {
            font-size: 18px;
        }
    }

    .productos__titulo--P {
        font-size: 18px;
    }

    .labios__grid {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"rosa-mate rojo-mate marron-mate"
                        "rosa-cremoso rojo-cremoso nude-cremoso"
                        "coral-pomo rojo-pomo violeta-pomo";
    }

    .ojos__grid {
        width: 100vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:"beige rosa-viejo oliva"
                            "marron celeste-gris rosa"
                            "bordeaux pinceles violeta";
        }

    .rostro__grid {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"tono-claro tono-medio tono-oscuro"
                        "una-brocha crema-rostro dos-brochas";
    }

    .pomulos__grid {
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"rubor-naranja rubor-beige rubor-fucsia"
                        "pomulos-coral pomulos-beige pomulos-rosa";
    }

    .preguntas {
        &__titulo--Pf {
            font-size: 18px;
            }
    }

    .contacto__titulo--C {
    font-size: 18px;
    }

    .lista {
    width: 70vw;
    }
}