@import "variables";
@import "nav";
@import "operators";
@import "variables";
@import "footer";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $color-principal;
    font-family: $font-principal;
}

/* Encabezado */
.header {
        &__titulo {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            font-family: $font-titulo;
            font-size: 4.25rem;
            padding: 20px 0 5px 0;
            text-align: center;
            background-image: linear-gradient(to top, $color-principal, white );
            color: #000;
            text-decoration: none;
        }
        &__subtitulo {
            font-family: $font-titulo;
            font-size: 1.6rem;
            padding: 2px 16px;
            text-align: center;
            display: block;
            color: #000;
            text-decoration: none;
        }
        &__acciones {
            list-style: none;
            display: flex;
            @include flex (row, flex-end, center);
            flex-wrap: wrap;
            margin: 20px;
        }
        &__nav {
            display: flex;
        }
        &__menu {
            color: #000;
            font-weight: bolder;
        }
        &__menu:hover {
            transform: scale(1.15, 1.15);
            transition: all 0.5s;
        }
        .bi {
            padding: 10px;
            margin: 10px;
            display: block;
            align-items: center;
            justify-content: space-between; 
            flex-wrap: wrap;
        }
    }

.container-fluid {
    display: flex;
    justify-content: flex-end;
}    

.navbar-toggler {
    justify-content: flex-end;
}

.linea {
    border-top: 1px;
    border-bottom: 1px;
    min-height: 1px;
    padding: 0;
    margin: 0 auto 0 auto;
    background: gray;
    background-image: linear-gradient(to right, #ccc, #000, #ccc);
}


/* Contenido de la página */
.principal {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;

    &__portada {
        width: 800px;
        height: 600px;
        border: 1px solid black;
        border-radius: 5px;
        margin-bottom: 15px;
    }
}

.filosofia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 30px 0 30px;

    &__titulo {
        @extend .titulos;
        font-style: italic;
    }
}

.imagen {
    border: 1px solid black;
    border-radius: 5px;
}

.texto-piel {
    margin-top: 30px;
}

p {
    text-align: justify;
    align-items: center;
    padding: 0 5px 0 5px;
}

.productos__titulo {
    &--P {
        @extend .titulos;
        font-style: italic;
    }

    &--items {
        font-family: $font-principal;
        text-align: center;
    }
}

.color {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5px;
}

.boton {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 5px;

}

.btn:hover {
    color: rgb(134, 134, 134);
    border-radius: 5px;
    background-color: whitesmoke
}

.ojos__grid {
    display: grid;
    width: 70vw;
    height: 130vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"beige rosa-viejo oliva"
                        "marron celeste-gris rosa"
                        "bordeaux pinceles violeta";
    @extend .flex;
    @extend .gap;

    .beige {
        grid-area: beige;
        background-image: url(../resources/ojos/beige.jpg);
        @extend .background-centrado;
        @extend .border;
    }

    .rosa-viejo {
        grid-area: rosa-viejo;
        background-image: url(../resources/ojos/rosa-viejo.jpg);
        @extend .background-centrado;
        @extend .border;
    }
    
    .oliva {
        grid-area: oliva;
        background-image: url(../resources/ojos/oliva.jpg);
        @extend .background-centrado;
        @extend .border;
    }
    
    .marron {
        grid-area: marron;
        background-image: url(../resources/ojos/marron.jpg);
        @extend .background-centrado;
        @extend .border;
    }
    
    .celeste-gris {
        grid-area: celeste-gris;
        background-image: url(../resources/ojos/celeste-gris.jpg);
        @extend .background-centrado;
        @extend .border;
    }

    .rosa {
        grid-area: rosa;
        background-image: url(../resources/ojos/rosa.jpg);
        @extend .background-centrado;
        @extend .border;
    }
    
    .bordeaux {
        grid-area: bordeaux;
        background-image: url(../resources/ojos/bordeaux.jpg);
        @extend .background-centrado;
        @extend .border;
    }

    .pinceles {
        grid-area: pinceles;
        background-image: url(../resources/ojos/pinceles.png);
        @extend .background-centrado;
        @extend .border;
    }
    
    .violeta {
        grid-area: violeta;
        background-image: url(../resources/ojos/violeta.jpg);
        @extend .background-centrado;
        @extend .border;
    }
}

.labios__grid {
    display: grid;
    width: 70vw;
    height: 130vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:"rosa-mate rojo-mate marron-mate"
                        "rosa-cremoso rojo-cremoso nude-cremoso"
                        "coral-pomo rojo-pomo violeta-pomo";
    @extend .flex;
    @extend .gap;

    .rosa-mate {
        grid-area: rosa-mate;
        background-image: url(../resources/labios/rosa-mate.png);
        @extend .background-centrado;
        @extend .border;
    }
    
    .rojo-mate {
        grid-area: rojo-mate;
        background-image: url(../resources/labios/rojo-mate.png);
        @extend .background-centrado;
        @extend .border;
    }
    
    .marron-mate {
        grid-area: marron-mate;
        background-image: url(../resources/labios/marron-mate.png);
        @extend .background-centrado;
        @extend .border;
    }
    
    .rosa-cremoso {
        grid-area: rosa-cremoso;
        background-image: url(../resources/labios/rosa-cremoso.png);
        @extend .background-centrado;
        @extend .border;
    }

    .rojo-cremoso {
        grid-area: rojo-cremoso;
        background-image: url(../resources/labios/rojo-cremoso.png);
        @extend .background-centrado;
        @extend .border;
    }
    
    .nude-cremoso {
        grid-area: nude-cremoso;
        background-image: url(../resources/labios/nude-cremoso.png);
        @extend .background-centrado;
        @extend .border;
    }

    .coral-pomo {
        grid-area: coral-pomo;
        background-image: url(../resources/labios/coral-pomo.png);
        @extend .background-centrado;
        @extend .border;
    }
    
    .rojo-pomo {
        grid-area: rojo-pomo;
        background-image: url(../resources/labios/rojo-pomo.png);
        @extend .background-centrado;
        @extend .border;
    }

    .violeta-pomo {
        grid-area: violeta-pomo;
        background-image: url(../resources/labios/violeta-pomo.png);
        @extend .background-centrado;
        @extend .border;
    }
}

.rostro__grid {
    display: grid;
    width: 70vw;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"tono-claro tono-medio tono-oscuro"
                        "una-brocha crema-rostro dos-brochas";
    @extend .flex;
    @extend .gap;

    .tono-claro {
        grid-area: tono-claro;
        background-image: url(../resources/rostro/claro.png);
        @extend .background-centrado;
        @extend .border;
    }

    .tono-medio {
        grid-area: tono-medio;
        background-image: url(../resources/rostro/medio.png);
        @extend .background-centrado;
        @extend .border;
    }

    .tono-oscuro {
        grid-area: tono-oscuro;
        background-image: url(../resources/rostro/oscuro.png);
        @extend .background-centrado;
        @extend .border;
    }

    .una-brocha {
        grid-area: una-brocha;
        background-image: url(../resources/rostro/brocha-uno.png);
        @extend .background-centrado;
        @extend .border;
    }

    .crema-rostro {
        grid-area: crema-rostro;
        background-image: url(../resources/rostro/crema.png);
        @extend .background-centrado;
        @extend .border;
    }

    .dos-brochas {
        grid-area: dos-brochas;
        background-image: url(../resources/rostro/brocha-dos.png);
        @extend .background-centrado;
        @extend .border;
    }
}

.pomulos__grid {
    display: grid;
    width: 70vw;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"rubor-naranja rubor-beige rubor-fucsia"
                        "pomulos-coral pomulos-beige pomulos-rosa";
    @extend .flex;
    @extend .gap;

    .rubor-naranja {
        grid-area: rubor-naranja;
        background-image: url(../resources/pomulos/naranja.png);
        @extend .background-centrado;
        @extend .border;
    }

    .rubor-beige {
        grid-area: rubor-beige;
        background-image: url(../resources/pomulos/beige.png);
        @extend .background-centrado;
        @extend .border;
    }

    .rubor-fucsia {
        grid-area: rubor-fucsia;
        background-image: url(../resources/pomulos/fucsia.png);
        @extend .background-centrado;
        @extend .border;
    }

    .pomulos-coral {
        grid-area: pomulos-coral;
        background-image: url(../resources/pomulos/coral-pomo.png);
        @extend .background-centrado;
        @extend .border;
    }

    .pomulos-beige {
        grid-area: pomulos-beige;
        background-image: url(../resources/pomulos/beige-pomo.png);
        @extend .background-centrado;
        @extend .border;
    }

    .pomulos-rosa {
        grid-area: pomulos-rosa;
        background-image: url(../resources/pomulos/rosa-pomo.png);
        @extend .background-centrado;
        @extend .border;
    }
}

.preguntas {
    &__titulo {
        display: flex;
        justify-content: center;
        padding: 30px;

        &--Pf {
            font-family: $font-titulo;
            font-size: 27px;
            font-style: italic;
        }
    }
    &__frecuentes {
        padding: 0px 16px;
        margin: 30px;
        flex-wrap: wrap;
    
        &--1 {
            text-align: left;
        }
        
        &--2 {
            text-align: left;
        }
        
        &--3 {
            text-align: left;
        }
    }
}

.contacto {
    display: flex;
    justify-content: center;
    
    &__titulo {
        display: flex;
        justify-content: center;
        padding: 30px;

        &--C {
            font-family: $font-titulo;
            font-size: 27px;
            font-style: italic;
        }

    &__img {
        display: flex;
        justify-content: center;
        width: 200px;
        background-size: contain;
        margin: 40px;
        padding: 1px;
        border: 1px solid black;
        border-radius: 5px;
        }
    }
}

.texto {
    margin: 1em;
    display: flex;
    justify-content: center;

    &__texto {
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        align-content: center;
    }
}

.lista {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    border: 1px solid rgb(69, 68, 68);
    border-radius: 5px;
    margin-bottom: 40px;
}

.img__fluid {   
    height: auto;
    }

.form-label {
    padding-top: 10px;
}

.form-control {
    background-color: #fff6f0;
}

@import "mediaqueries";